body {
	background: url("../img/background_image_principal.jpg") no-repeat center fixed;
	background-size: cover;
	background-color: #ddd;
}

.flex-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.container {
	background-color: #eee;
	margin-top: 57px;
	padding: 25px;
}

.menu_container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu_container__img {
	display: block;
	height: 200px;
	margin: 20px 0;
	width: 200px;
}

.menu_container__title {
	font-family: Arial, sans-serif;
	font-size: 2em;
	font-weight: 700;
}