body {
	background: url("../img/background_image_principal.jpg") no-repeat center fixed;
	background-size: cover;
	background-color: #ddd;
}

.container {
	background-color: #eee;
	margin-top: 57px;
	padding: 25px;
}

.menu_container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu_container__img {
	display: block;
	height: 200px;
	width: 200px;
}