body {
	background: url("../img/background_image_principal.jpg") no-repeat center fixed;
	background-size: cover;
	background-color: #ddd;
}

.flex-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.container {
	background-color: rgba(238, 238, 238, 0.7);
	margin-top: 57px;
	padding: 25px;
}

.menu_container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.menu_container__img {
	display: block;
	height: 200px;
	margin: 20px 0;
	width: 200px;
}

.menu_container__title {
	font-family: Arial, sans-serif;
	font-size: 1.7em;
	font-weight: 700;
}

.button {
	margin: 10px auto;
}

.button__link {
	background-color: #ccc;
	border-radius: 5px;
	border-style: inset;
	display: block;
	text-align: center;
	padding: 12px 0;
	width: 350px;
}

.button__link-text {
	color: rgb(11, 11, 11);
	font-family: Arial, sans-serif;
	font-size: 22px;
	font-weight: 800;
	text-decoration: none;
}

.button__link--quejas {
	background-color: #26a269;
	border-color: #222;
	color: #fff;
}

.button__link--informe {
	background-color: #77ae2b;
	border-color: #222;
	color: #fff;
}

.button__link--logout {
	background-color: #fd2d33;
	border-color: #333;
	color: #fff;
}

.button__link--quejas:hover {
	background-color: #2ec27e;
	border-color: #3584e4;
	color: #fff;
}

.button__link--informe:hover {
	background-color: #33d17a;
	border-color: #fd495c;
	color: #fff;
}

.button__link--logout:hover {
	background-color: #c01c28;
	border-color: #fd2d33;
	color: #fff;
}


/* iPhone 4 and iPhone 5/SE support */
@media screen and (min-width: 320px) {
	.navbar-brand {
		display: none;
	}
	.container {
		padding: 0;
	}
	.menu_container__img {
		height: 90px;
  		width: 90px;
  	}
  	.menu_container__title {
  		display: none;
  	}
  	.button__link {
  		padding: 5px 0;
  		width: 300px;
  	}
  	.button__link-text {
  		font-size: 1em;
  	}
}

/* iPhone 6 support */
@media screen and (min-width: 375px) {
	.container {
		padding: 0;
	}
	.menu_container__title {
  		display: block;
  	}
	.menu_container__img {
		height: 120px;
  		width: 120px;
  	}
  	.button__link {
  		padding: 10px 0;
  	}
  	.button__link-text {
  		font-size: 1.1em;
  	}
}

/* iPhone 6/7/8 Plus support */
@media screen and (min-width: 414px) {
	.container {
		padding: 0;
	}
	.menu_container__title {
  		display: block;
  	}
	.menu_container__img {
		height: 140px;
  		width: 140px;
  	}
  	.button__link {
  		padding: 15px 0;
  	}
  	.button__link-text {
  		font-size: 1.3em;
  	}
}

/* iPad Mini support */
@media screen and (min-width: 768px) {
	.navbar-brand {
		display: block;
	}
	.menu_container__img {
		height: 200px;
  		width: 200px;
  	}
  	.menu_container__title {
  		display: block;
  	}
  	.button__link {
  		padding: 20px 0;
  	}
  	.button__link-text {
  		font-size: 1.5em;
  	}
}

/* iPad support */
@media screen and (min-width: 810px) {
	.menu_container__img {
		height: 200px;
  		width: 200px;
  	}
  	.menu_container__title {
  		display: block;
  	}
  	.button__link {
  		padding: 20px 0;
  	}
  	.button__link-text {
  		font-size: 1.5em;
  	}
}

/* iPad Pro support */
@media screen and (min-width: 1024px) {
	.menu_container__img {
		height: 250px;
  		width: 250px;
  	}
  	.menu_container__title {
  		display: block;
  	}
  	.button__link {
  		padding: 25px 0;
  	}
  	.button__link-text {
  		font-size: 1.7em;
  	}
}

/* Laptop MDPi support */
@media screen and (min-width: 1280px) {
	.menu_container__img {
		height: 150px;
  		width: 150px;
  	}
  	.menu_container__title {
  		display: block;
  	}
  	.button__link {
  		padding: 10px 0;
  	}
  	.button__link-text {
  		font-size: 1.5em;
  	}
}

/* Laptop HiDPi support */
@media screen and (min-width: 1440px) {
	.menu_container__img {
		height: 250px;
  		width: 250px;
  	}
  	.menu_container__title {
  		display: block;
  	}
  	.button__link {
  		padding: 25px 0;
  	}
  	.button__link-text {
  		font-size: 1.7em;
  	}
}