.container {
	align-content: center;
	align-items: center;
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 110px;
	height: 100vh;
	justify-content: center;
}

.container_img {
	display: block;
	height: 250px;
	margin: 20px 0;
	width: 250px;
}

.container_title {
	margin-bottom: 20px;
}

.form_container {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-around;
	width: 35%;
}

.label_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.label_container__input, .label_container__email, .label_container__select {
	padding: 5px;
}

.label_container__select {
	cursor: pointer;
}

.label_container__textarea {
	height: 80px;
	resize: none;
}

.button_send {
	background-color: #99c1f1;
	margin: 0 auto;
	padding: 5px;
	width: 85%;
}

.button_send:hover {
	background-color: #1a5fb4;
	color: #f6f5f4;
}