html {
	height: 100%; 
}

.container {
	align-content: space-around;
	align-items: center;
	display: flex;
	font-family: Arial, serif;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100vh;
	justify-content: center;
}

.container_img {
	/*margin: 20px auto;*/
	text-align: center;
}

.container_img img {
	height: 150px;
	width: 150px;
}

.form-container {
	/*height: 30%;*/
	text-align: center;
	/*padding: 0 10px;*/
}

.form-container h2 {
	font-size: 2em;
	margin: 5px 0;
}

.form-container label {
	display: block;
	font-size: 1.5em;
	margin: 10px 0;
}

.form-container input {
	border: none;
	border-bottom: 2px solid #4b994a;
	height: 30px;
	/*padding: 10px;*/
}

.form-container input:focus {
	border: none;
}

.form-group {
	padding: 5px 0;
}

.btn {
	background-color: #4b994a;
	border: none;
	border-radius: 3px;
	color: #000;
	display: block;
	font-weight: bold; 
	height: 50px;
	margin: 10px auto;
	width: 80%;
}

.btn:hover {
	background-color: #8ff0a4;
	cursor: pointer;
}

.btn:active {
	background-color: #ffe;
	color: #277315;
	cursor: pointer;
}

.btn:disabled {
	background-color: #fff0f8;
	color: #ffb5b6;
	cursor: not-allowed;
}

#alertLogin {
	background-color: #4b994a;
	color: #fff;
	margin: 0;
	text-align: center;
	width: 75%;
	padding: 10px 0;
}

.help-block {
	display: block;
	color: #ed333b;
	margin-top: 2px;
}

/* iPhone 4 support */
@media screen and (max-width: 320px) {
	body {
		font-size: 0.8em;
	}
	.container_img img {
		height: 130px;
  		/*padding-bottom: 10px;*/
  		width: 130px;
  	}
  	.form-container {
  		width: 75%;
  	}
  	.form-container h2 {
  		margin: 5px;
  	}
  	.form-group label {
  		margin: 3px 0;
  	}
  	.form-control {
  		width: 80%;
  	}
}
@media screen and (min-width: 375px) {
  .container_img {
  	margin: 0 auto;
  }
  .form-container {
  	width: 75vw;
  }
  #formLogin {
  	margin: 0 auto;
  	width: 90%;
  }
  #formLogin input {
  	width: 90%;
  	margin-top: 15px;
  }
  .btn {
  	margin-top: 25px;
  	width: 100%;
  }
  #alertLogin {
  	margin: 10px auto;
  }
}

@media screen and (min-width: 768px){
	body {
		font-size: 1.4em;
	}
	.container_img img {
		height: 250px;
		width: 250px;
	}
	#formLogin {
		width: 75%;
	}
	.form-control {
		padding: 15px;
	}
	.btn {
		padding: 10px;
		height: 80px;
		margin: 25px 0;
	}
}

@media screen and (min-width: 1024px){
	body {
		font-size: 1.7em;
	}
	#formLogin {
		width: 80%;
	}
	.form-control {
		padding: 20px;
	}
	.btn {
		padding: 10px;
		height: 80px;
		margin: 25px 0;
	}
}

@media screen and (min-width: 1200px){
	.container {
		height: 75vh;
	}
	.form-container {
		width: 50vw;
	}
}